extends ./layout

block content
  h2= article.title
  include by_line
  p= article.body
  a(href="./") &larr; Back 
  | | 
  a(href="/book/" + article.id + "/edit") Edit Book
  | | 
  a(href="/articles/" + article.id + "/delete") Delete Article